[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nibabel = "*"
pandas = "*"
pyarrow = "*"
jupyterlab = "*"
pydantic = "*"
nilearn = "*"
niworkflows = "*"
matplotlib = "*"
dvc = "*"
nipype = "*"
fmriprep = "*"
fslpy = "*"

[dev-packages]
ruff = "*"
black = "*"
pytest = "*"
pre-commit = "*"
dvc-gdrive = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
