[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
fmriprep = "*"
numpy = "*"
nibabel = "*"
nilearn = "*"
niworkflows = "*"
pydicom = "*"
pybids = "*"
pandas = "*"
matplotlib = "*"
nipype = "*"
pydantic = "*"
fslpy = "*"

[dev-packages]
ruff = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
